
@{
    ViewBag.Title = "KendoUpload";
}

<h2>KendoUpload</h2>

<!--begin::Post-->
<div class="flex-row-fluid" id="kt_content">

    <div class="container">
        <div class="container">
            <div style="width:40%; float:left">
                <input name="files" id="files" type="file" aria-label="files" />
            </div>
        </div>
    </div>

</div>
<!--end::Post-->


<script src="~/Scripts/Views/Home/View_KendoUpload.js"></script>
