
@{
    ViewBag.Title = "KendoGrid";
}

<h2>KendoGrid</h2>


<!--begin::Post-->
<div class="flex-row-fluid" id="kt_content">

    <div class="container">
        <h1> Kendo Simple Grid</h1>
        <div class="container">
            <div id="grid">

            </div>
        </div>
    </div>

    <div class="container" style="margin-top:10px;">
        <h1> Kendo In-Line Grid</h1>
        <div class="container">
            <div id="gridInLine">

            </div>
        </div>
    </div>

    <div class="container" style="margin-top:10px;">
        <h1> Kendo Features Grid</h1>
        <div class="container">
            <div id="gridFeatures">

            </div>
        </div>
    </div>

</div>
<!--end::Post-->


<script src="~/Scripts/Views/Home/View_KendoGrid.js"></script>

